@keyframes up{
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-10px);
        opacity: 0;
    }
  }
  
  .up {
    // animation: up 1.5s cubic-bezier(.72,.02,.12,1.01) infinite;
    animation: up .95s 1s ease-in infinite;
    // overflow: hidden;
  }

  .delay-1 {
    animation-delay: 1s;
  }

  .delay-2 {
    animation-delay: -500ms;
}